@using TodoList.Models
@using TodoList.Enums
@model TodoItem

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo Details</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h1 class="mt-3 mb-3">Todo Details</h1>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>标题</td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td>描述</td>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <td>截止日期</td>
                    <td>@Model.DueDate?.ToString("yyyy/MM/dd")</td>
                </tr>
                <tr>
                    <td>优先级</td>
                    <td>
                        @switch (@Model.Priority)
                        {
                            case PriorityLevel.Low:
                                @: 低
                                break;
                            case PriorityLevel.Medium:
                                @: 中
                                break;
                            case PriorityLevel.High:
                                @: 高
                                break;
                        }
                    </td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>
                        <span class="@Model.IsCompleted ? text-success : text-danger">
                            @(Model.IsCompleted ? "✔️" : "❌")
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-link" href="/Index">返回上一页</a>
    </div>

    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>